<p class="{{if bigField 'big-field'}}">
<strong>{{name}}</strong>: 

{{! If a link is provided, field shouldn't be editable }}
{{#if link}}
  {{#link-to route link}}{{value}}{{/link-to}}
{{else}}

  {{! If field is boolean, show yes/no logic }}
  {{#if boolean}}
    {{#if editing}}
      {{input type="checkbox" name="checkInput" checked=value}}
    {{/if}}
    <span class="{{if value 'text-success' 'text-danger'}}">
    {{to-yes-no value}}
    </span>

  {{! Otherwise treat it like a text field }}
  {{else}}
    {{#if editing}}
      {{input type="text" value=value class="edit-slim-input" 
        focus-out="saveEdit" insert-newline="saveEdit" 
        escape-press="cancelEdit"}}
    {{else}}
      {{#if value}}
      <span>{{value}}</span>
      {{else}}
      <span class="text-muted">[No value]</span>
      {{/if}}
    {{/if}}

  {{/if}}
{{/if}}

{{! Side icon enables editing and saves changes }}
{{#if editable}}
  {{#if editing}}
  <a class="action-link" {{action "saveEdit"}}><span class="glyphicon glyphicon-ok confirm-icon text-primary"></span> Save</a>
  {{else}}
  <a class="glyphicon glyphicon-pencil edit-icon" {{action "startEdit"}}></a>
  {{/if}}
{{/if}}

</p>
{{yield}}
