{{! This entire file is basically mockup garbage...}}
<h3>Quality Review</h3>
<div class="quality-review-container">
  <div class="timeline-container">
    <div class="timeline-item">
      <div class="timeline-text">Author Review</div>
      <div {{bind-attr class=":circle stage1Class"}}>1</div>
    </div>
    <div class="timeline-item">
      <div class="timeline-text">I.D. Review</div>
      <div {{bind-attr class=":circle stage2Class"}}>2</div>
    </div>
    <div class="timeline-item">
      <div class="timeline-text">Discuss w/ I.D.</div>
      <div {{bind-attr class=":circle stage3Class"}}>3</div>
    </div>
    <div class="timeline-item">
      <div class="timeline-text">Make Changes</div>
      <div {{bind-attr class=":circle stage4Class"}}>4</div>
    </div>
    <div class="timeline-item">
      <div class="timeline-text">I.D. Sign-off</div>
      <div {{bind-attr class=":circle stage5Class"}}>5</div>
    </div>
  </div>
  <div class="quality-review-instructions">
    <p>
    {{#if onStage1}}
    The author of the course should perform an assessment of the materials and methods used in the course, and determine whether or not they meet the standards <a>listed here</a>. Leave any notes in the box below, then certify this step was completed to continue.
    {{/if}}
    {{#if onStage2}}
    An instructional designer should perform an assessment of the course and determine whether or not it meets the required standards. Leave any notes in the box below, then certify that this step was completed to continue.
    {{/if}}
    {{#if onStage3}}
    The author of the course should now meet with the instructional designer to discuss what changes should be made to the course. Leave any notes or minutes in the box below, then certify that this step was completed to continue.
    {{/if}}
    {{#if onStage4}}
    The author should now implement the changes discussed in their meeting with the instructional designer, if any. Leave any notes in the box below, then certify this step was completed to continue. 
    {{/if}}
    {{#if onStage5}}
    The instructional designer assigned to this course should confirm that the discussed changes were implemented, and then sign-off that this quality review is complete. 
    {{/if}}
    </p>
    <label>Notes</label>
    <textarea class="form-control" rows="3"></textarea>
    <div style="margin-top: 10px;">
      <label for="filePick">Attachments</label>
      <input id="filePick" type="file">
    </div>
    <div style="margin-top: 10px;">
      <label>Signee</label><br>
      <input id="signeeBox" type="text" />
    </div>
    <div class="quality-review-controls">
      <div style="float:left;">
        {{input type="checkbox" id="certCheck" checked=certifyChecked}} 
        <label for="certCheck">I certify that this step was completed</label>
      </div>
      <div style="float:right;">
        {{#if onStage5}}
          <button 
            {{bind-attr class=":btn :btn-primary certifyChecked::disabled"}} 
            {{action "finish"}}>
            Finish Review
          </button>
        {{else}}
          <button 
            {{bind-attr class=":btn :btn-primary certifyChecked::disabled"}} 
            {{action "next"}}>
            Continue
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{yield}}
