<div class="row">
	<div class="col-md-3">
		{{#link-to "courseVersions" class="strong"}}
			&lt; Go to course versions
		{{/link-to}}
		<hr>
		<h3>Version Actions</h3>
		<br/>
		{{mail-to model.instructor.email "Email course author"}}<br/><br/>
		<a class="action-link" {{action "deleteModel"}}>
			Delete this course version
		</a>
		<br/><br/>
		{{#each model.qualityReviews as |qr|}}
			{{#link-to 'qualityReview.view' model qr}}{{qr.startDate}}{{/link-to}}<br/>
		{{/each}}
	</div>
	<div class="col-md-9" style="border-left: 1px solid #EEE;">
		<div class="clearfix">
			<div class="flL w50">
				{{edit-field bigField=true editable=false name="Course" value=model.course.title
						link=model.course route="course"}}

				{{edit-field bigField=true editable=false name="Author" value=model.instructor.fullName
						link=model.instructor route="instructor"}}

				{{edit-field bigField=true editable=false name="Email" value=model.instructor.email}}

				{{edit-field action="saveModel" bigField=true editable=true name="Label" value=model.label}}
			</div>
			<div class="flR w50">
				{{edit-field action="saveModel" editable=true name="Type" value=model.courseType}}

				{{edit-field action="saveModel" editable=true boolean=true name="ADA Compliant" value=model.adaCompliant}}

				{{edit-field action="saveModel" editable=true boolean=true name="Copyright Compliant" value=model.copyrightCompliant}}
			
				<strong>Due for review on: </strong>
				{{#if model.neverReviewed}}
					<span class="text-muted">[Never reviewed]</span>
				{{else}}
					<span>{{to-short-date model.dueForReviewDate}}</span>
				{{/if}}
				<button class="btn btn-primary btn-lg" {{action "startReview"}}>Begin compliance review</button>
			</div>
		</div>

		<br/><br/>

		<h4>Course Sections</h4>
		{{#data-table}}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>CRN</th>
						<th>Instructor</th>
						<th>Semester</th>
					</tr>
				</thead>
				<tbody>
					{{#each model.courseSections as |cs|}}
						<tr>
							<td><strong>{{#link-to "courseSection" cs}}{{cs.crn}}{{/link-to}}</strong></td>
							<td>{{cs.instructor.fullName}}</td>
							<td>{{cs.semester}}</td>
						</tr>
					{{else}}
						<tr>
							<td class="empty-collection-row" colspan=3>No course sections for this version</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/data-table}}	

		{{outlet}}
	</div>
</div>