<div class="row">
  <div class="col-md-3">
  {{#link-to "courseSections" class="strong"}}
  &lt; Go to course sections
  {{/link-to}}
  <hr>
  <h3>Section Actions</h3>
  <br/>
  {{mail-to model.instructor.email "Email course instructor"}}<br/><br/>
  {{mail-to model.courseVersion.course.department.adminEmail "Email department administrator"}}<br/><br/>
  <a class="action-link" {{action "deleteModel"}}>Delete this course section</a><br/><br/>
  </div>
  <div class="col-md-9" style="border-left: 1px solid #EEE;">

    {{edit-field bigField=true editable=false name="Course" value=model.courseVersion.course.title
        link=model.courseVersion.course route="course"}}

    {{edit-field bigField=true editable=false name="Version" value=model.courseVersion.labelDisplay
        link=model.courseVersion route="courseVersion"}}

    {{edit-field bigField=true editable=false name="Instructor" value=model.instructor.fullName
        link=model.instructor route="instructor"}}

    {{edit-field bigField=true editable=false name="Email" value=model.instructor.email route="instructor"}}

    <br/>

    {{edit-field name="CRN" value=model.crn}}

    <br/>

    {{edit-field name="Dept. Administrator" value=model.courseVersion.course.department.admin}}

    {{edit-field name="Dept. Admin. Email" value=model.courseVersion.course.department.adminEmail}}

    <br/>

    {{edit-field editable=false name="Compliance Attested" boolean=true value=model.attested}}

    {{!{{edit-field action="saveModel" editable=false name="Due On" value=attestedDueDate}}
    <strong>Due On: </strong> {{to-short-date model.attestedDueDate}}
    <br/>

    <h3>Section Compliance</h3>
    {{#if model.attested}}
    <span class="text-success"><span class="glyphicon glyphicon-check"></span> Certified Compliant on {{to-short-date model.attestedDate}} by {{model.attestedSignee}}</span>
    {{else}}
      {{#if attesting}}
      <div style="border:1px solid #222; padding:10px;">
        <p>The instructor of the course should verify that all materials used for instruction are compliant with all necessary standards, including both the university standards and divisional standards listed here:</p>
        <p><a href="http://www.miamioh.edu/">Example Standards</a></p>
        <p><a href="http://www.miamioh.edu/">Another Set of Standards</a></p>
        <p>Once the instructor has ensured the course is compliant, they should check the boxes below and type their name in the text box, then hit "Certify Compliance" to submit.</p>
        <br/>
        <p>{{input id="check1" type="checkbox" checked=check1}} <label for="check1">I certify that the course meets [...].</label></p>
        <p>{{input id="check2" type="checkbox" checked=check2}} <label for="check2">I certify that the materials in the course are [...].</label></p>
        <p>{{input id="check3" type="checkbox" checked=check3}} <label for="check3">I certify that the course is [...].</label></p>
        <p><strong>Signee</strong></p>
        {{input type="text" placeholder="Name" value=signee}}
        <br/>
        <br/>
        <button class="btn btn-primary {{if allBoxesChecked '' 'disabled'}}"  {{action "saveAttest"}}>Certify Compliance</button>
        <button class="btn btn-default" {{action "cancelAttest"}}>Cancel</button>
      </div>
      {{else}}
      <button class="btn btn-lg btn-primary" {{action "startAttest"}}>Certify Course Compliance</button>
      {{/if}}
    {{/if}}

    <br/>
  </div>
</div>

{{outlet}}
