<h2>Courses</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Dept.</th>
    <th>Number</th>
    <th>Title</th>
    <th>Number of versions</th>
  </tr>
{{#each course in model}}
<tr>
  <td>{{course.department.abbreviation}}</td>
  <td>{{course.number}}</td> 
  <td><strong>{{#link-to 'course' course}}{{course.title}}{{/link-to}}</strong></td>
  <td>{{course.courseVersions.length}}</td>
</tr>
{{/each}}
{{outlet}}
</table>

