<h2>Course Catalog</h2>
<table class="table table-striped">
  <tr>
    <th>Dept.</th>
    <th>Number</th>
    <th>Title</th>
    <th>Number of versions</th>
  </tr>
{{#each course in model}}
<tr>
  <td>{{course.department}}</td>
  <td>{{course.number}}</td> 
  <td>{{#link-to 'course' course}}{{course.title}}{{/link-to}}</td>
  <td>{{course.courseVersions.length}}</td>
</tr>
{{/each}}
</table>

{{outlet}}
