<h2>Course Sections</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th class="col-sm-3">Section</th>
    <th class="col-sm-3">Version</th>
    <th class="col-sm-1">Semester</th>
    <th class="col-sm-2">Quality Attested</th>
  </tr>
{{#each cs in model}}
<tr>
  <td>
    {{#link-to 'courseSection' cs}}
    <strong>{{cs.courseVersion.course.department.abbreviation}} {{cs.courseVersion.course.number}} - {{cs.instructor.fullName}}</strong>
    {{/link-to}}
  </td> 
  <td>{{#link-to 'courseVersion' cs.courseVersion}}{{cs.courseVersion.labelDisplay}}{{/link-to}}</td>
  <td>{{cs.semester}}</td>
  <td {{bind-attr class="cs.attested:text-success:text-danger"}}>
    {{#if cs.attested}}
    <span class="glyphicon glyphicon-check"></span> {{to-yes-no cs.attested}}
    {{else}}
    <span class="glyphicon glyphicon-remove"></span> {{to-yes-no cs.attested}}
    {{/if}}
  </td>
</tr>
{{/each}}
{{outlet}}
</table>
