<div class="row">
  <div class="col-md-3">
  {{#link-to "courseVersions" class="strong"}}
  &lt; Go to course versions
  {{/link-to}}
  <hr>
  <h3>Version Actions</h3>
  <br>
  {{#link-to "courses"}}Email course author{{/link-to}}<br><br>
  {{#link-to "courses"}}Mark as "Due for Review"{{/link-to}}<br><br>
  <a {{action "deleteModel"}}>Delete this course version</a><br><br>
  </div>
  <div class="col-md-9" style="border-left: 1px solid #EEE;">

    {{edit-field bigField=true editable=false name="Course" value=course.display
        link-to=course route="course"}}

    {{edit-field bigField=true editable=false name="Author" value=instructor.fullName
        link-to=instructor route="instructor"}}

    {{edit-field bigField=true editable=false name="Email" value=instructor.email
        link-to=instructor route="instructor"}}

    {{edit-field action="saveModel" bigField=true editable=true name="Label" value=label}}

    <br>

    {{edit-field action="saveModel" editable=true name="Type" value=courseType}}

    {{edit-field action="saveModel" editable=true boolean=true name="ADA Compliant" value=adaCompliant}}

    {{edit-field action="saveModel" editable=true boolean=true name="Copyright Compliant" value=copyrightCompliant}}

    {{edit-field action="saveModel" editable=false name="Due for Review On" value="TODO"}}

    <br>

    {{#if isUnderReview}}
      {{quality-review-timeline action="finalizeReview"}}
    {{else}}
    <button class="btn btn-primary btn-lg" {{action "startReview"}}>Begin quality review</button>
    {{/if}}

    <br>
    <br>
    <h4>Past Quality Reviews</h4>
    <table class="table table-bordered">
      <tr>
        <th>Date Started</th>
        <th>Date Finished</th>
        <th>Notes and Attachments</th>
      </tr>
      {{#each qr in qualityReviews}}
      <tr>
        <td>{{to-short-date qr.startDate}}</td>
        <td>{{to-short-date qr.endDate}}</td>
        <td><a href="">View ></a></td>
      </tr>
      {{/each}}
    </table>

    <h4>Course Sections</h4>
    <table class="table table-bordered">
      <tr>
        <th>Instructor</th>
        <th>Semester</th>
      </tr>
      {{#each cs in courseSections}}
      <tr>
        <td>{{#link-to "instructor" cs.instructor}}{{cs.instructor.fullName}}{{/link-to}}</td>
        <td>{{cs.semester}}</td>
      </tr>
      {{/each}}
      <tr style="text-align:center;">
        <td colspan=3>{{#link-to "courses"}}Add New Section{{/link-to}}</td>
      </tr>
    </table>
  </div>
</div>

{{outlet}}
