<h2>Course Versions</h2>
{{#data-table}}
	<table class="table">
		<thead>
			<tr>
				<th>Course Version</th>
				<th>Author</th>
				<th>Course</th>
				<th>Latest Review</th>
				<th>Copyright Compliant</th>
				<th>ADA Compliant</th>
			</tr>
		</thead>
		<tbody>
			{{#each model.courseVersions as |cv|}}
				<tr>
					<td>
						<strong>
							{{#link-to 'courseVersion' cv}}
								{{cv.labelDisplay}}
							{{/link-to}}
						</strong>
					</td> 
					<td>{{cv.instructor.fullName}}</td>
					<td>{{cv.course.department.abbreviation}} {{cv.course.number}}</td>
					<td>
						{{#if cv.neverReviewed}}
							<span class="text-danger"><span class="glyphicon glyphicon-remove"></span> Never</span> 
						{{else}}
							{{#if cv.dueForReview}}
								<span class="glyphicon glyphicon-remove text-danger"></span>
							{{/if}}
							<span class="{{if cv.dueForReview '' 'text-danger'}}">
								{{to-short-date cv.latestReview}}
							</span>
						{{/if}}
					</td>
					<td class="{{if cv.copyrightCompliant 'text-success' 'text-danger'}}">{{to-yes-no cv.copyrightCompliant}}</td>
					<td class="{{if cv.adaCompliant 'text-success' 'text-danger'}}">{{to-yes-no cv.adaCompliant}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/data-table}}