<h2>Course Sections</h2>

{{#data-table}}
	<table class="table">
		<thead>
			<tr>
				<th>CRN</th>
				<th>Section</th>
				<th>Instructor</th>
				<th>Semester</th>
				<th>Compliance Attested</th>
				<th>Compliance Due On</th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |cs|}}
				<tr>
					<td>{{cs.crn}}</td>
					<td>
						{{#link-to 'courseSection' cs}}
							{{cs.courseVersion.course.department.abbreviation}}{{cs.courseVersion.course.number}} - {{cs.courseVersion.labelDisplay}}
						{{/link-to}}
					</td> 
					<td>{{cs.instructor.fullName}}</td>
					<td>{{cs.semester}}</td>
					<td class="{{if cs.attested 'text-success' 'text-danger'}}">
						{{#if cs.attested}}
							<span class="glyphicon glyphicon-check"></span> {{to-yes-no cs.attested}}
						{{else}}
							<span class="glyphicon glyphicon-remove"></span> {{to-yes-no cs.attested}}
						{{/if}}
					</td>
					<td>
						<span class="{{if cs.attested 'text-success'}}">
							{{to-short-date cs.attestedDueDate}}
						</span>
					</td>
				</tr>
			{{/each}}
			<!-- {{outlet}} -->
		</tbody>
	</table>
{{/data-table}}