<h2>Instructors</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th class="col-sm-2">Full Name</th>
    <th class="col-sm-2">Email</th>
    <th class="col-sm-2">UniqueID</th>
    <th class="col-sm-2">Versions Authored</th>
    <th class="col-sm-2">Sections Taught</th>
  </tr>
{{#each instructor in model}}
  <tr>
    <td>{{#link-to 'instructor' instructor}}{{instructor.fullName}}{{/link-to}}</td>
    <td>{{#link-to 'instructor' instructor}}{{instructor.email}}{{/link-to}}</td>
    <td>{{instructor.uniqueid}}</td>
    <td>{{instructor.courseVersions.length}}</td>
    <td>{{instructor.courseSections.length}}</td>
  </tr>
{{/each}}
{{outlet}}
</table>
