<div class="row">
  <div class="col-md-3">
  {{#link-to 'instructors' class="strong"}}
  &lt; Go to Instructors
  {{/link-to}}
  <hr>
  <h3>Instructor Actions</h3>
  <br>
  {{mail-to email "Email this instructor"}}
  <br><br>
  <a class="action-link" {{action "deleteModel"}}>Delete this instructor</a>
  <br><br>
  </div>
  <div class="col-md-9" style="border-left: 1px solid #EEE;">
    <h4>
      <p><strong>Full Name</strong>: {{fullName}}</p>
      <p><strong>Email</strong>: {{email}}</p>
    </h4>
    <br>

    <h4>Authored Course Versions</h4>
    <table class="table table-bordered">
      <tr>
        <th>Course</th>
        <th>Label</th>
        <th>Sections</th>
      </tr>
      {{#each model.courseVersions as |cv|}}
      <tr>
        <td>{{#link-to 'course' cv.course}}{{cv.course.department.abbreviation}} {{cv.course.number}}{{/link-to}}</td>
        <td>{{#link-to 'courseVersion' cv}}{{cv.labelDisplay}}{{/link-to}}</td>
        <td>{{cv.courseSections.length}}</td>
      </tr>
      {{else}}
      <tr>
        <td class="empty-collection-row" colspan=4>No course versions authored</td>
      </tr>
      {{/each}}
    </table>

    <h4>Course Sections</h4>
    <table class="table table-bordered">
      <tr>
        <th>Course</th>
        <th>Version</th>
        <th>Semester</th>
      </tr>
      {{#each cs in courseSections}}
      <tr>
        <td>
          {{#link-to 'course' cs.course}}
          {{cs.courseVersion.course.department.abbreviation}} 
          {{cs.courseVersion.course.number}}
          {{/link-to}}
        </td>
        <td>{{#link-to 'courseVersion' cs.courseVersion}}{{cs.courseVersion.label}}{{/link-to}}</td>
        <td>{{cs.semester}}</td>
      </tr>
      {{else}}
      <tr>
        <td class="empty-collection-row" colspan=3>No course sections taught</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>

{{outlet}}
