<div class="row">
  <div class="col-md-4" style="padding-right:30px;">

    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        {{radio-button name="searchType" value=true checked=searchingVersions}}
        <strong>Course Versions</strong>
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchType" value=false checked=searchingVersions}}
        <strong>Course Sections</strong>
      </label>
    </div>

    {{! ========== COURSE VERSIONS ========== }}
    {{#if searchingVersions}}

    <h3>Version Info</h3>

    {{! Title }}
    <div class="form-group">
      <label>Title</label><br>
      {{input type="text" class="form-control" placeholder="N/A" value=searchVersionTitle}}
    </div>

    {{! Author }}
    <div class="form-group">
      <label>Author</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchVersionInstructor
      content=instructors 
      optionValuePath="content.id"
      optionLabelPath="content.fullName"}}
    </div>

    {{! Copyright Compliant }}
    <label>Copyright Compliant</label><br>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        {{radio-button name="searchVersionCopyCompliant" value=null 
        checked=searchVersionCopyCompliant}} N/A
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionCopyCompliant" value=true 
        checked=searchVersionCopyCompliant}} Yes
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionCopyCompliant" value=false 
        checked=searchVersionCopyCompliant}} No
      </label>
    </div>
    <br>

    {{! ADA Compliant }}
    <label>ADA Compliant</label><br>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        {{radio-button name="searchVersionADACompliant" value=null 
        checked=searchVersionADACompliant}} N/A
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionADACompliant" value=true 
        checked=searchVersionADACompliant}} Yes
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionADACompliant" value=false 
        checked=searchVersionADACompliant}} No
      </label>
    </div>

    <h3>Course Info</h3>

    {{! Course type }}
    <div class="form-group">
      <label>Course Type</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchVersionType
      content=courseTypes}}
    </div>

    {{! Department }}
    <div class="form-group">
      <label>Department</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchVersionDepartment
      content=departments 
      optionValuePath="content.id"
      optionLabelPath="content.name"}}
    </div>

    {{! Course }}
    <div class="form-group">
      <label>Course</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchVersionCourse
      content=courses 
      optionValuePath="content.id"
      optionLabelPath="content.display"}}
    </div>


    <h3>Reviews</h3>

    {{! Due for Review }}
    <label>Due for Review</label><br>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        {{radio-button name="searchVersionDueForReview" value=null checked=searchVersionDueForReview}} N/A
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionDueForReview" value=true checked=searchVersionDueForReview}} Yes
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchVersionDueForReview" value=false checked=searchVersionDueForReview}} No
      </label>
    </div>


    {{! ========== COURSE SECTIONS ========== }}
    {{else}}

    <h3>Section Info</h3>

    {{! CRN }}
    <div class="form-group">
      <label for="courseCRNInput">CRN</label>
      {{input type="text" class="form-control" value=searchSectionCRN placeholder="N/A"}}
    </div>

    {{! Semester }}
    <div class="form-group">
      <label>Semester</label>
      {{input type="text" class="form-control" value=searchSectionSemester 
        placeholder="Semester e.g. \"F14\""}}
    </div>

    {{! Instructor }}
    <div class="form-group">
      <label>Instructor</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchSectionInstructor
      content=instructors 
      optionValuePath="content.id"
      optionLabelPath="content.fullName"}}
    </div>

    <h3>Course Info</h3>

    {{! Course type }}
    <div class="form-group">
      <label>Course Type</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchSectionType
      content=courseTypes}}
    </div>

    {{! Department }}
    <div class="form-group">
      <label>Department</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchSectionDepartment
      content=departments 
      optionValuePath="content.id"
      optionLabelPath="content.name"}}
    </div>

    {{! Course }}
    <div class="form-group">
      <label>Course</label><br>
      {{view "select" class="form-control" prompt="N/A"
      value=searchSectionCourse
      content=courses 
      optionValuePath="content.id"
      optionLabelPath="content.display"}}
    </div>

    <h3>Compliance Attested</h3>

    {{! Compliance attested }}
    <label>Compliance Attested</label><br>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default active">
        {{radio-button name="searchSectionAttested" value=null checked=searchSectionAttested}} N/A
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchSectionAttested" value=true checked=searchSectionAttested}} Yes
      </label>
      <label class="btn btn-default">
        {{radio-button name="searchSectionAttested" value=false checked=searchSectionAttested}} No
      </label>
    </div>

    {{/if}}

  </div>

  {{! Matching Course Versions or Sections }}
  <div class="col-md-8" style="border-left: 1px solid #EEE;">
    <div>
      <a href="" style="float:right;">Export to Spreadsheet</a>
    </div>
    <hr>

    {{#if searchingVersions}}
      {{#each cv in filteredCourses}}
        {{search-result-version cv=cv}}
      {{else}}
        <h3 class="text-muted">No results found!</h3>
      {{/each}}
    {{else}}
      {{#each cs in filteredCourses}}
        {{search-result-section cs=cs}}
      {{else}}
        <h3 class="text-muted">No results found!</h3>
      {{/each}}
    {{/if}}
  </div>
</div>
{{outlet}}
