<div class="row">
  <div class="col-md-4" style="padding-right:30px;">
    <h3>Course Info</h3>

    {{! Course type }}
    <div class="form-group">
      <label>Course type</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Online Only
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">Hybrid
        </label>
      </div>
    </div>

    {{! Course title }}
    <div class="form-group">
      <label for="courseTitleInput">Course Title</label>
      <input id="courseTitleInput" type="text" class="form-control">
    </div>

    {{! CRN }}
    <div class="form-group">
      <label for="courseCRNInput">CRN</label>
      <input id="courseCRNInput" type="text" class="form-control">
    </div>

    {{! Instructor }}
    <div class="form-group">
      <label for="courseTitleInput">Instructor</label>
      <select id="instructor-select" data-placeholder="Instructor" class="form-control">
        {{#each instructor in instructors}}
        <option>{{instructor.fullName}}</option>
        {{/each}}
      </select>
    </div>

    <h3>Reviews</h3>

    {{! Has previous review }}
    <div class="form-group">
      <label>Has Previous Review</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>

    {{! Due for review soon }}
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked=dueForReviewSoon>Due for review soon
        </label>
      </div>
    </div>

    {{! Review timespan }}
    <div class="form-group">
      Or, due for review in &lt; 
      <input type="text" style="display:inline;width:20px;" maxlength="1">
      years
    </div>

    <h3>Forms</h3>

    {{! ADA compliance form }}
    <div class="form-group">
      <label>ADA Compliant</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>

    {{! ADA compliance year }}
    <div class="form-group">
      <span>ADA Compliance Year: 
        <select id="ada-year-select" style="display:inline;width:100px;" 
          data-placeholder="ADA Year" class="form-control">
          <option>N/A</option>
          <option>1999</option>
          <option>2008</option>
          <option>2012</option>
        </select>
      </span>
    </div>

    {{! Copyright compliance form }}
    <div class="form-group">
      <label>Copyright Compliant</label><br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="option1" checked>N/A
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option2">Yes
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="option3">No
        </label>
      </div>
    </div>
  </div>

  {{! Matching Course Versions }}
  <div class="col-md-8" style="border-left: 1px solid #EEE;">
    <div>
      <span style="float:left;">Sort by: <a href="">Most recent review &#9660;</a></span>

      <a href="" style="float:right;">Export to Spreadsheet</a>
    </div>
    <hr>

    {{#each cv in courseVersions}}
    <div style="margin-top:20px; margin-bottom:20px;">
      <div class="content-heading" style="border-bottom: 1px solid #EEE;">
        <h3 style="display:inline;">{{cv.instructor.fullName}} - {{cv.course.title}}</h3>
        <span class="text-muted">CRNs</span>
      </div>

      <table style="width:100%; margin-top:10px; margin-bottom: 5px;">
        <tr>
          <td><strong>Label</strong>: "{{cv.labelDisplay}}"</td>
          <td style="text-align:right">
            {{#if cv.adaCompliant}}
            <span class="glyphicon glyphicon-ok text-success"></span>
            {{else}}
            <span class="glyphicon glyphicon-remove text-danger"></span>
            {{/if}} ADA Compliant
          </td>
        </tr>
        <tr>
          <td><strong>Last revision</strong>: August 15, 2014</td>
          <td style="text-align:right">
            {{#if cv.copyrightCompliant}}
            <span class="glyphicon glyphicon-ok text-success"></span>
            {{else}}
            <span class="glyphicon glyphicon-remove text-danger"></span>
            {{/if}} Copyright Compliant
          </td>
        </tr>
      </table>
      {{#link-to 'courseVersion' cv}}Go to Course Version &gt;{{/link-to}}
    </div>
    {{/each}}
  </div>
</div>
{{outlet}}
