<tr>
  <th>CRN</th>
  <th>Version</th>
  <th>Instructor</th>
  <th>Semester</th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>
    {{input type="text" placeholder="#" value=sectionCRN}}
  </td>
  <td>
    {{ember-selectize
    content=courseVersions
    optionValuePath="content"
    optionLabelPath="content.fullLabel"
    value=selectedCourseVersion}}
  </td>
  <td>
    {{ember-selectize
    content=instructors
    optionValuePath="content"
    optionLabelPath="content.fullName"
    value=selectedInstructor}}
  </td>
  <td>
    {{input type="text" placeholder="Semester" value=sectionSemester}}
  </td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="text-align:center" colspan=6>
    <button class="btn btn-primary" {{action "create"}}>Create</button>
    {{#link-to "courseSections.index" class="btn btn-default"}}Cancel{{/link-to}}
  </td>
</tr>
